// These are the defaults, but you can override any values
$font-family-sans-serif: quicksand,-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-regular:         500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;
